:root {
}

* {
    box-sizing: border-box;
}

body {
    margin: unset;
    font-weight: 600;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.header {
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    min-height: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.header .links {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: 1 1 100%;
}

hr {
    margin: 20px 0;
    height: 2px;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
}

li {
    list-style: none;
}


/*------------------ products ----------------*/
.product {
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.product .thumbnail-container {
    position: relative;
    flex: 1 1 25%;
}

.product .thumbnail-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product .thumbnail-container .discount {
    position: absolute;
    right: 0;
    top: 10px;
    background: red;
    color: white;
    padding: 5px;
}

.product .description-container {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product .description-container .title {
    color: #549df1;
}


.product .description-container .stars {
    display: flex;
}

.product .description-container .star {
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 5%, 61% 40%, 98% 40%, 68% 62%, 79% 96%, 50% 75%, 21% 96%, 32% 62%, 2% 40%, 39% 40%);
}

.product .description-container .description {
    color: rgb(80, 80, 80);
}

.product .actions-container {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product .actions-container .price-container {
    font-size: 18px;
    display: flex;
    gap: 10px;
}

.product .actions-container .price-container.discounted .price {
    font-size: 16px;
    color: lightgray;
    text-decoration: line-through;
}

.product .actions-container .price-container.discounted .price-discounted {
    font-size: 18px;
    color: red;
}

.btn-cart, .btn-add-to-cart {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgb(252, 184, 0);
    border-radius: 5px;
    border: 1px solid transparent;
}

.btn-cart:hover, .btn-add-to-cart:hover {
    cursor: pointer;
    border: 1px solid black;
}

.btn-cart {
    margin: 20px 20px 20px auto;
    max-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}
.btn-cart img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.btn-cart span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

